<div class="container">
    <div class="row">
        <div class="col-6">
            <form #empform = "ngForm" (submit)="submit(empform)">
                <div class="mb-3">
                  <input 
                  type="text" 
                  class="form-control" 
                  id="empName" 
                  name="empName"
                  #empName = "ngModel"
                  ngModel
                  placeholder="Enter employee name"
                  aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <input 
                    type="text" 
                    class="form-control" 
                    id="empRole" 
                    name="empRole"
                    #empRole = "ngModel"
                    ngModel
                    placeholder="Enter employee role"
                    aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <input 
                    type="number" 
                    class="form-control" 
                    id="empSalary" 
                    name="empSalary"
                    #empSalary = "ngModel"
                    ngModel
                    placeholder="Enter employee salary"
                    aria-describedby="emailHelp">
                </div>

                <div class="mb-3">
                    <input 
                    type="text" 
                    class="form-control" 
                    id="empAddress" 
                    name="empAddress"
                    #empAddress = "ngModel"
                    ngModel
                    placeholder="Enter employee address"
                    aria-describedby="emailHelp">
                </div>
                
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
        </div>
    </div>
</div>